@import "base";
@import "container";
@import "typography";


// Color Variables
$color-primary : #854dff;
$color-secondary: #ff5757;

$color-white: #ffffff;
$color-off-white: #f0f0f0;
$color-light-grey: #dbdbdb;
$color-smokey-grey: #716f6f;
$color-off-black: #141414;

